# What is Editorconfig?
#   EditorConfig helps developers define and maintain consistent.
#   coding styles between different editors and IDEs
#   editorconfig.org
#   https://www.topbug.net/blog/2012/03/14/use-editorconfig-to-maintain-consistent-coding-styles-between-different-editors-and-ides/
# Sample files:
#  https://github.com/airbnb/javascript/blob/master/.editorconfig
#  https://github.com/rcorp/standard-project-structure/blob/master/generators/linter/templates/.editorconfig
#  https://github.com/palantir/blueprint/blob/master/.editorconfig
root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 2
# We recommend you to keep these unchanged
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# some files use 4 spaces for indentation
[*.{js,jsx,ts,tsx,xml}]
indent_size = 2
end_of_line = crlf

[tsconfig.json]
indent_size = 2

# Ignore paths
[/node_modules/**]
charset = none
end_of_line = none
insert_final_newline = none
trim_trailing_whitespace = none
indent_style = none
indent_size = none

[*.d.ts]
charset = none
end_of_line = none
insert_final_newline = none
trim_trailing_whitespace = none
indent_style = none
indent_size = none
