.AppTreeMap {
  background-color: white;
}

.AppTreeMap__analytics {
  fill: violet;
}

.AppTreeMap__node {
  rx: 5;
}

.AppTreeMap__svg {
  font-family: "Courier New", Courier, monospace;
}

.MyCustomTooltip {
  font-size: 10px;
  background-color: bisque;
  color: darkorange;
}
